HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# React 프로젝트 빌드 결과물이 복사되는 경로는 일단 ignore처리
# 향후 다른 static한 리소스가 이곳에 포함돼야 할 경우 react 빌드 결과물을 다른 디렉터리에 넣는 것이 나을 수 있음
src/main/resources/static/**