<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>show_a_post</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&family=Fredoka+One&family=Press+Start+2P&display=swap"
              rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    #postingBox{
        border: 1px solid black;
        width: 500px;
        height: 500px;

    }
    #gu_park{
        border: 1px solid black;
         width: 500px;
        height: 100px;
    }
    #map{
        border: 1px solid black;
        width: 500px;
        height: 200px;

    }
    #birds{
        border: 1px solid black;
         width: 500px;
        height: 100px;
    }
    #review{
        border: 1px solid black;
        width: 500px;
        height: 100px;
    }
</style>
    </head>

    <body>
        <div id="postingBox">
            <div id="gu_park">
                <h4>낙산공원</h4>
                <h5>종로구</h5>
            </div>
            <div id="map">
                <img src="{{ url_for('static', filename='temp_birds.jpg') }}" width="100" height="100"/>
            </div>
            <div id="birds">
                참새,까치,비둘기.....
            </div>
            <div id="review">참새까치비둘기 보았다</div>
        </div>


    </body>
</html>